<div class="card">
    <div class="card title">
        <h3>Adicionar novo curso</h3>
    </div>
    <div class="card-body">   
        <form action="/categoria/nova" method="POST">
            <label for="descricao">Titulo</label>
                <input type="text" id="titulo" name="titulo" placeholder="Nome do curso">
            <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao" placeholder="Descrição do curso">
            <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" placeholder="Descrição do curso">
            <button type="submit" class="btn btn-secondary">Adicionar curso</button>
        </form>
    </div>
</div>